CMakeFiles/3.5.1 CMakeFiles/3.7.1 CMakeFiles/clion-environment.txt CMakeFiles/cmake.check_cache CMakeFiles/CMakeDirectoryInformation.cmake CMakeFiles/CMakeOutput.log CMakeFiles/CMakeTmp CMakeFiles/cpp14_basics.dir CMakeFiles/feature_tests.bin CMakeFiles/feature_tests.c CMakeFiles/feature_tests.cxx CMakeFiles/Makefile2 CMakeFiles/Makefile.cmake CMakeFiles/progress.marks CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeCache.txt cmake-build-debug/CMakeFiles cmake-build-debug/cmake_install.cmake cmake-build-debug/cpp14_basics.cbp cmake-build-debug/Makefile
cpm-bin
cpm-packages
cpp14_basics
CMakeFiles
Makefile
cmake-build-debug
