*.bak
bin
cmake-build-debug
cmake-build-debug
CMakeCache.txt
CMakeFiles
cpm-bin
cpm-packages
cpp14_basics.cbp
cpp14_basics.cbp
CTestTestfile.cmake
Doxyfile
git-libs
Makefile
Testing
tags
cmake-build-debug
.Dockerfile.swp
