[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest.git
[submodule "modules/python-graph"]
	path = modules/python-graph
	url = https://github.com/pmatiello/python-graph

